@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

* {
  @apply box-border
  outline-none
  scroll-smooth
  font-[Poppins];
}

html {
  @apply font-[62.5%]
  overflow-x-hidden;
}

::-webkit-scrollbar {
  position:absolute;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  position: absolute;
  background: #b8b8b8 ;
  border-radius: 9999px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}
section {
  min-height: screen;
}

@keyframes spin-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-border {
  animation: spin-border 4s linear infinite;
}


.marquee-track {
  display: flex;
  animation: marquee-scroll 12s linear infinite;
}

.marquee-track.paused {
  animation-play-state: paused;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


